plotly==4.14.3
sphinx_rtd_theme==0.4.3
faculty-sphinx-theme==0.3.1
sphinx-gallery==0.8.2
pickle-mixin==1.0.2
pandas==1.2.3
numpy==1.20.2
matplotlib==3.4.1
vizcovidfr==0.0.1
download==0.3.5
seaborn==0.11.1
folium==0.12.1
palettable==3.3.0
networkx==2.5.1
scipy==1.6.2
geopandas==0.9.0
ipywidgets==7.6.3
pydeck==0.6.1
scikit_learn==0.24.1
